@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import "tailwindcss";

@theme {
   --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --font-display: "Times New Roman", "Times", serif;

  --color-brand-blue: #685fa7;
  --color-brand-dark: #685fa7;
  --color-brand-pink: #f6a0b3;
  --color-brand-gray: #64748B;
  --color-brand-surface: #FFFFFF;
}
.gradient-text {
  background: linear-gradient(
    135deg,
   "#685fa7" 0,
    "#c084fc" 60%,
    "#f472b6" 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.bg-dot-grid {
  background-image: radial-gradient(circle, #cbd5e1 1px, transparent 1px);
  background-size: 24px 24px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

@layer base {
  body {
    @apply font-sans text-brand-dark bg-white antialiased;
  }

  h1, h2, h3, h4 {
    @apply font-display tracking-tight text-brand-dark;
  }
}
